<%- include("./partials/_header") -%>

<main>
    <section class="banner__img"></section>
    <!-- <%- include("./partials/_messages") -%> -->
    <section class="my-2 px-4">
        <% if(isAuthenticated){%>
        <div class="text-right">
            <a href="/create/" class="animal__cta delete">
                Create New Animal
            </a>
        </div>
        <%}%>
        <div>
            <h4 class="text-center">
                Animals
            </h4>
        </div>
        <div>
            <%if(animals.length>0){%>
        <div class="animal__area">
            <% for(var i = 0;i <animals.length;i++){%>
            <div class="animal__card">
                <img src="/img/uploaded_images/<%=animals[i].image%>" alt="<%=animals[i].name%>"
                    class="animal__image" />
                <div class="animal__content">
                    <% if(animals[i].endangered  == 'true') {%>
                    <ul class="animal__tagline">
                        <li class="animal__class--endangered ">Endangered</li>
                    </ul>
                    <%}%>
                    <h5 class="text-center"><%= animals[i].name %></h5>
                    <p class="animal__description  mb-1 text-center">
                        <%= animals[i].description.substring(0,50) %>
                    </p>
                    <% if(isAuthenticated) { %>
                    <div class="text-center">
                        <button class="animal__cta delete" name="<%=animals[i].id%>" data-id="<%=animals[i].id%>"
                            id="delete">
                            Delete
                        </button>
                        <a href="/edit/<%=animals[i].id%>" class="animal__cta edit">
                            Edit
                        </a>
                    </div>
                    <%} else{%>
                    <div class="text-center">
                        <a href="/pets/<%=animals[i].id%>" class="animal__cta edit">
                            Read More
                        </a>
                    </div>
                    <%}%>
                                </div>
                            </div>
                    <%} %>
                </div>
                <%}else{%>
                <div class="no__animals">
                    <h4 class="text-center my-5">No Animals Yet in Database</h4>
                </div>

                <%}%>
        </div>
    </section>
</main>

<%- include("./partials/_footer") -%>