<%- include("./partials/_header") -%>

<main>
    <section>
        <div class="banner">
            <h1>Wild Life</h1>
            <p>Ensure the world’s most iconic species, including tigers, rhinos, and elephants, are secured and
                recovering
                in the wild</p>
            <a href="/animals" class="btn btn-primary btn-round">Animals</a>
        </div>
    </section>
    <section class="container about my-3">
        <h4 class="text-center">About Wildlife</h4>
        <div class="d-flex">
            <img src="/img/tiger.jpg" class="about__img" loading="lazy" height="300" width="300" />

            <div class="about__section">
                <p>
                    Saving nature is at the very heart of what we do as WWF. For nearly 60 years, we have made it our
                    mission to find solutions that save the marvelous array of life on our planet by applying the best
                    science available and working closely with local communities.
                </p>

                <p>
                    But our work is far from done. Humans are behind the current rate of species extinction, which is at
                    least 100–1,000 times higher than nature intended. We’ve seen an astonishing 60% decline in the size
                    of
                    populations of mammals, birds, fish, reptiles, and amphibians in just over 40 years, according to
                    WWF's
                    Living Planet Report 2018.
                </p>

                <p>
                    And the impacts will reach far beyond the potential cultural loss of iconic species like tigers,
                    rhinos
                    and whales.
                </p>

                <p>
                    The good news is we’ve also seen what’s working. WWF has been part of successful wildlife recovery
                    stories ranging from southern Africa’s black rhino to black bucks in the Himalayas. And this, in
                    turn,
                    is helping to protect rich and varied ecosystems while ensuring people continue to benefit from
                    nature.
                </p>

                <p>This much is clear: we cannot afford to fail in our mission to save a living planet.</p>

            </div>

        </div>
    </section>


</main>

<%- include("./partials/_footer") -%>