<%- include("./partials/_header") -%>

<main>
    <section class="px-4">
        <img src="/img/uploaded_images/<%=animal.image%>" alt="animal_view_image" class="text-center view__img" />
        <div>
            <h4 class="text-center"><%= animal.name %></h4>
            <div class="flex-column">
                <h1>Place Found - <span class="mr-3"><%=animal.location %></span></h1>
                <%if(animal.endangered){%>
                <h5 class="endangered m-0">Endangered</h5>
                <%}%>
            </div>
        </div>
        <div class="px-4">
            <p><%= animal.description %></p>
            </div>
    </section>
</main>

<%- include("./partials/_footer") -%>